
<div class="row" ">




    <div class="lightBlue" style="min-height:60vh;">
        
        <div style="margin-left: 8%; padding-top:4%; ">
            <h4>
                AKTYWACJA KONTA
            </h4>
            <hr/>
            <h6>
                Wysłaliśmy link aktywacyjny na Twój adres email <span style="color: brown;">@ViewBag.Email</span> celu jego weryfikacji. <br />
                UWAGA!!! Jeżeli nie potwierdzisz adresu e-mail nie będzie możliwości zalogowania do serwisu.
            </h6>

        </div>
    </div>
 </div>

